# Firebase設定
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyARXxOks0dJMYTmW2qXsluvxTg5paqfAjQ
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=connect4plus-7ee8f.firebaseapp.com
NEXT_PUBLIC_FIREBASE_DATABASE_URL=https://connect4plus-7ee8f-default-rtdb.asia-southeast1.firebasedatabase.app
NEXT_PUBLIC_FIREBASE_PROJECT_ID=connect4plus-7ee8f
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=connect4plus-7ee8f.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=422379120333
NEXT_PUBLIC_FIREBASE_APP_ID=1:422379120333:web:6d762aea26638c6dd26b84

# 開発環境用（必要に応じて）
# NODE_ENV=development 